/*body { font-family: "Lucida Console", "Courier New", monospace; }*/

body {
    background-color: #F9f9f9;
    margin: 6px;
    margin-top: 100px;
}

h1, h2, h3, h4, legend {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style',
                 Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text',
                 'Bitstream Charter', Georgia, serif
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

.button-xsmall {
    font-size: 50%;
}

input.small-input {
    width: 2em;
    text-align: center;
}

.navigation {
    /*position: relative;;
    top: 0;
    left: 0;*/
    padding: 0 .5em 0 .5em;
    box-shadow: 0 0 1.5em #867453;
    margin-bottom: 1.5em;
    background-color: #F9f9f9;
}

.navigation .pure-menu-heading {
    font-family: MrJeeves;
    font-size: 1cm;
    font-weight: 800;
}

.defensive-cr .container, .offensive-cr .container {
    display: flex;
    align-items: flex-start;
    justify-content: center | space-between | space-around;
    align-content: stretch;
}

/*********** UpDown Component ************/

.up-down a:hover {
    color: green;
}

.defensive-cr .container > *, .offensive-cr .container > * {
    /*width: 200px;*/
    flex-grow: 1;
}

.defensive-cr .container > *:not(:first-child),
.offensive-cr .container > *:not(:first-child) {
  border-left:1px solid #000;
  padding-left: 20px;
  margin-left: -20px;
}

.defensive-cr .container > *:not(:last-child),
.offensive-cr .container > *:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: -19px;
    margin-right: 19px;
}

fieldset fieldset {
    margin-top: 20px;
}

legend {
    padding: 0 7px 0 7px;
}

.inline-child-divs > div {
    display: inline-block;
}

.inline-children > *
{
    display: inline-block;
}

.center-align-children > *
{
    text-align: center;
}

/*** Attempt 1 at fading-highlights ***/
@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}

.highlight-change {
    animation: yellowfade 1s;
    transition: 1s;
}




/************ MonsterStats specific ************/

.monster-stats fieldset {
    border-radius: 6px;
    background-color: #eee;
}


/***** Stat Attribute blocks *****/

.monster-stats .attribute {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    border-radius: 6px;
    border: 1px;
}

.monster-stats .attribute label {
    display: block;
}

.monster-stats .attribute input {
    width: 2em;
    text-align: center;
}

.monster-states .attribute span.report {
    display: block;
    clear: both;
}

/**** Saves block ****/

.saving-throws > *:not(:last-child) {
    margin-right: 10px;
}

.saving-throws > *:not(:first-child) {
    text-align: center;
}
