/*body { font-family: "Lucida Console", "Courier New", monospace; }*/
body {
    background-color: #F9f9f9 !important;
    margin: 6px;
}

h1, h2, h3, h4, legend { font-family: 'Libre Baskerville', 'Lora', 'Calisto MT',
                   'Bookman Old Style', Bookman, 'Goudy Old Style',
                   Garamond, 'Hoefler Text', 'Bitstream Charter',
                   Georgia, serif}


a { text-decoration: none; }

a:hover {
    color: green;
}

.button-xsmall {
    font-size: 50%;
}

input.small-input {
    width: 2em;
    text-align: center;
}

a.attr {

}

.defensive-cr .container, .offensive-cr .container {
    display: flex;
    align-items: flex-start;
    justify-content: center | space-between | space-around;
    align-content: stretch;
}

.defensive-cr .container > *, .offensive-cr .container > * {
    /*width: 200px;*/
    flex-grow: 1;
}

.defensive-cr .container > *:not(:first-child),
.offensive-cr .container > *:not(:first-child) {
  border-left:1px solid #000;
  padding-left: 20px;
  margin-left: -20px;
}

.defensive-cr .container > *:not(:last-child),
.offensive-cr .container > *:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: -19px;
    margin-right: 19px;
}

fieldset fieldset {
    margin-top: 20px;
}

legend {
    padding: 0 7px 0 7px;
}

/*.defensive-cr > * {
    align-self: flex-start;
}*/

/*.up-down a:hover {
    color: green;
    color: -webkit-hover;
}*/

/*.up-down .fa-caret-down {
    position: absolute;
    top: 0.25em;
}

.up-down .fa-caret-up {
    position: absolute;
    top: -0.25em;
}*/

/************ MonsterStats specific ************/
.monster-stats fieldset
{
  border-radius: 6px;
  background-color: #eee;
}

/***** Stat Attribute blocks *****/
.monster-stats .attribute
{
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  border-radius: 6px;
  border: 1px;
}

.monster-stats .attribute label
{
  display: block;
}

.monster-stats .attribute input
{
  width: 2em;
  text-align: center;
}

.monster-states .attribute span.report
{
    display: block;
    clear: both;
}
